<html>
    <head>
        <title>Incrementor</title>
    </head>
    <body>
        <h2></h2>
        <script src="/socket.io/socket.io.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>
            var socket = io.connect('http://localhost:3000');
            socket.on('number', function (data) {
                $("h2").text(data.number);
            });
        </script>
    </body>
</html>